---
http_interactions:
- request:
    method: get
    uri: https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3bc8cc20fc98118b35ccd7fd50ffc9f9
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Apr 2016 02:41:50 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3bc8cc20fc98118b35ccd7fd50ffc9f9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url_size_200_200": "/user/default_small.png", "id": "b9e65773cfcdadfd",
        "url_size_40_40": "/user/default_tiny.png", "url_size_60_60": "/user/default_small.png"}'
  recorded_at: Sun, 10 Apr 2016 02:41:50 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3bc8cc20fc98118b35ccd7fd50ffc9f9
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Apr 2016 02:41:51 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3bc8cc20fc98118b35ccd7fd50ffc9f9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maternal_terminal_snps": [{"rsid": "i1000002", "rcrs_position": "5656"},
        {"rsid": "i3001475", "rcrs_position": "5656"}], "paternal_terminal_snps":
        [{"rsid": "rs16981293", "snp": "M405"}], "maternal": "U5b1", "id": "b9e65773cfcdadfd",
        "paternal": "R1b1b2a1a1"}'
  recorded_at: Sun, 10 Apr 2016 02:41:52 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3bc8cc20fc98118b35ccd7fd50ffc9f9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maternal_terminal_snps": [{"rsid": "i1000002", "rcrs_position": "5656"},
        {"rsid": "i3001475", "rcrs_position": "5656"}], "paternal_terminal_snps":
        [{"rsid": "rs16981293", "snp": "M405"}], "maternal": "U5b1", "id": "b9e65773cfcdadfd",
        "paternal": "R1b1b2a1a1"}'
  recorded_at: Sun, 10 Apr 2016 02:41:53 GMT
recorded_with: VCR 3.0.1
