---
http_interactions:
- request:
    method: get
    uri: https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ff27744d8d6b35f8e05734749891eb61
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 12:47:37 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/profile_picture/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ff27744d8d6b35f8e05734749891eb61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url_size_200_200": "https://www.23andmeobjects.com/photos///c0/2a/c02a6872e7e941feb64a50c1be410eb6_M.122_129_561_568.jpg",
        "id": "b9e65773cfcdadfd", "url_size_40_40": "https://www.23andmeobjects.com/photos///c0/2a/c02a6872e7e941feb64a50c1be410eb6_T.122_129_561_568.jpg",
        "url_size_60_60": "https://www.23andmeobjects.com/photos///c0/2a/c02a6872e7e941feb64a50c1be410eb6_S.122_129_561_568.jpg"}'
  recorded_at: Mon, 11 Apr 2016 12:47:37 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ff27744d8d6b35f8e05734749891eb61
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 12:47:38 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ff27744d8d6b35f8e05734749891eb61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maternal_terminal_snps": [{"rsid": "i1000002", "rcrs_position": "5656"},
        {"rsid": "i3001475", "rcrs_position": "5656"}], "paternal_terminal_snps":
        [{"rsid": "rs16981293", "snp": "M405"}], "maternal": "U5b1", "id": "b9e65773cfcdadfd",
        "paternal": "R1b1b2a1a1"}'
  recorded_at: Mon, 11 Apr 2016 12:47:40 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/haplogroups/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ff27744d8d6b35f8e05734749891eb61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"maternal_terminal_snps": [{"rsid": "i1000002", "rcrs_position": "5656"},
        {"rsid": "i3001475", "rcrs_position": "5656"}], "paternal_terminal_snps":
        [{"rsid": "rs16981293", "snp": "M405"}], "maternal": "U5b1", "id": "b9e65773cfcdadfd",
        "paternal": "R1b1b2a1a1"}'
  recorded_at: Mon, 11 Apr 2016 12:47:41 GMT
recorded_with: VCR 3.0.1
